{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block jumbotron %}

    <div class="container">
        <div class="jumbotron" style="background-image: url({% static 'webpage/img/ACDH_Panorama_Postkarte_motiv02.jpg' %});">
          <div class="container">
            <h1>Welcome to the APIS application</h1>
            <p>This is the web application of the APIS project..</p>
            <p><a class="btn btn-main" href="#" role="button">Read More &raquo;</a></p>
          </div>
        </div>
      </div>

{% endblock jumbotron %}

{% block content %}

<div class="container">
    <h1 class="text-center">APIS<br/>
        A<small>ustrian</small> P<small>rosopographical</small> I<small>nformation </small>S<small>ystem</small></h1>
        <p>
            This is a web application to
            <strong>collect,</strong>
            <strong>curate,</strong>
            <strong>enrich,</strong>
            <strong>analyze,</strong>
            <strong>visualize,</strong>
            <strong>and export</strong>
            prosopgraphical and biographical data.
            This web application is developed in the context of the <a href="http://www.oeaw.ac.at/acdh/en/apis">APIS-Project</a>.<br/>
            First use cases are the are Modeling the Austrian Biographical Dictionary (Österreichisches Biograpisches Lexikon / <a href="http://www.oeaw.ac.at/inz/ueber-das-inz-mitarbeiterinnen/forschungsbereiche/oesterreichisches-biographisches-lexikon/">ÖBL</a>) and Semantic Academy (SemAc).
        </p>
    </div>
{% endblock %}
