{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block content %}
<h3>Presentations done within the APIS framework</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Venue</th>
        <th>Type</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>26.1.2018</td>
	<td><a href="https://www.museum-joanneum.at/netzwerktreffen">Graz, Austria</a></td>
	<td>Powerpoint (pptx)</td>
	<td>The presentation was given at the first networking event for digital experts in Austrian museums at the Universalmuseum Joanneum Graz. It shows an
	  introduction to how biographical data is generated and gives a brief overview about possibilities and potentials within the museum context</td>
	<td><a href="https://www.academia.edu/35763184/Biographische_Daten_als_Potenzial_f%C3%BCr_Forschung_und_Museen">Academia.edu</a></td>
	</tr>
      <tr>
          <td>5.12.2017</td>
          <td><a href="https://www.uibk.ac.at/congress/dha2017/programme/">Innsbruck, Austria</a></td>
          <td>Reveal.js (embedded)</td>
          <td>At the Digital Humanities Austria Conference in Innsbruck we presented a neuronal network trained to extract relations between biographed persons and entities in the full-text.
            The presentation explains the general idea and our showcases our first working models.
          </td>
          <td><a href="{% url 'webpage:presentation_innsbruck17' %}">embedded version of the presentation</a>, <a href="https://zenodo.org/record/1149023">PDF-version (Zenodo)</a></td>
      </tr>
      <tr>
          <td>23.11.2017</td>
          <td><a href="http://dataforhistory.org/20171123-24">Lyon, France</a></td>
          <td>Reveal.js (embedded)</td>
          <td>Data for History is an international consortium founded on 24 November 2017 with the aim of improving
               geo-historical data interoperability in the semantic web. Its purpose is to establish a common method for
              modelling, curating and managing data in historical research. APIS was presented on the first day of the workshop</td>
          <td><a href="{% url 'webpage:presentation_lyon17' %}">embedded version of the presentation</a>, <a href="https://zenodo.org/record/1067690">PDF-version (Zenodo)</a></td>
      </tr>
      <tr>
          <td>6.11.2017</td>
          <td><a href="https://sites.google.com/view/bd2017/program">Linz, Austria</a></td>
          <td>Powerpoint (pptx)</td>
          <td>What are the recurrent parts of biographical dictionaries? In our paper we would like to discuss this
              question by presenting two modes for reading and analyzing biographical articles on a larger scale</td>
          <td><a href="https://www.academia.edu/35069896/The_biographical_formula_kinds_and_dimensions_of_biographical_networks">Academia.edu</a></td>
      </tr>
      <tr>
          <td>2.5.2017</td>
          <td><a href="https://www.uni-augsburg.de/institute/isla/aktuelles/25_-27_05_2017-11_-HNR-Workshop-in-Augsburg.html">Augsburg, Germany</a></td>
          <td>Powerpoint (pptx)</td>
          <td>In contrast to writing a biography, which is in general about the life and history of an individual,
              historical network research is concerned with the study of relationships within a larger group of people.
              Despite these diametric differences, synergies between these research areas can arise. The purpose of this
              presentation is to give a short example for that.</td>
          <td><a href="https://www.academia.edu/33243066/How_biographical_data_can_be_used_for_historical_network_research">Academia.edu</a></td>
      </tr>
      <tr>
          <td>24.4.2017</td>
          <td>Split, Croatia</a></td>
          <td>Powerpoint (pptx)</td>
          <td>This presentation has been given at a Digital Humanities Workshop in Split (Croatia).
              It shows how semantic annotation and entity linking is done in the APIS web application.</td>
          <td><a href="https://zenodo.org/record/846281">Zenodo</a></td>
      </tr>
      <tr>
          <td>2.3.2017</td>
          <td><a href="http://conference.ait.co.at/digbib/index.php/digbib2017/digbib2017">Graz, Austria</a></td>
          <td>Powerpoint (pptx)</td>
          <td>This workshop presentation was held at the conference digital libraries 2017 “Future of the digital
              heritage?”. It served as an introduction to the APIS framework and prosopographical research.</td>
          <td><a href="https://zenodo.org/record/1067684">Zenodo</a></td>
      </tr>

    </tbody>
  </table>
{% endblock content %}}
