{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% load browsing_extras %}

{% block title %}
  {% projects_metadata 'title' %}
{% endblock title %}

{% block metaDescription %}
  <meta name="description" content="{{ metadata.description }}">
  <meta name="author" content="{{ metadata.author }}">
{% endblock metaDescription %}

{% block styles %}
  <link rel="stylesheet"
        id="fundament-styles"
        href="{{ SHARED_URL }}fundament/dist/fundament/css/fundament.min.css"
        type="text/css" />
{% endblock styles %}

{% block scriptHeader %}
  <!-- Begin Cookie Consent plugin by Silktide - https://silsktide.com/cookieconsent -->
  <script type="text/javascript">
window.cookieconsent_options = {
  "message": "This website uses cookies to ensure you get the best experience on our website",
  "dismiss": "Got it!",
  "learnMore": "More info",
  "link": "{% projects_metadata 'imprint' %}",
  "theme": "dark-bottom"
};
  </script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
  <!-- End Cookie Consent plugin -->
  <!-- Begin Matomo tracking -->
  <script type="text/javascript">
var _paq = _paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
  var u = "{% projects_metadata 'matomo_url' %}";
  _paq.push(['setTrackerUrl', u + 'piwik.php']);
  _paq.push(['setSiteId', '{% projects_metadata "matomo_id" %}']);
  var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
  g.type = 'text/javascript';
  g.async = true;
  g.defer = true;
  g.src = u + 'piwik.js';
  s.parentNode.insertBefore(g, s);
})();
  </script>
  <!-- End Matomo tracking -->
{% endblock scriptHeader %}

{% block customBranding %}
  <a href="/"
     class="navbar-brand custom-logo-link"
     rel="home"
     itemprop="url">
    <img src="{{ PROJECT_LOGO }}"
         class="img-fluid"
         alt="{% projects_metadata 'title' %}"
         itemprop="{% projects_metadata 'title' %}" />
  </a>
{% endblock customBranding %}

{% block main-menu %}
  <li class="nav-item dropdown">
    <a href="#"
       class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">About
      <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item"
         href="{% url 'webpage:staticpage' template='imprint' %}">Imprint | Impressum</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#"
       class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
      Entities
      <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% for ent in entities_links %}
        <a class="dropdown-item"
           href="{% url 'apis:apis_entities:generic_entities_list' ent.0 %}">{{ ent.1 }}</a>
      {% endfor %}
      <a class="dropdown-item"
         href="{% url 'apis:apis_metainfo:uri_browse' %}">URIs</a>
      <a class="dropdown-item"
         href="{% url 'webpage:staticpage' template='uri_resolver' %}">URI-Resolver</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#"
       class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">Relations
      <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% for ent in relations_list %}
        <a class="dropdown-item"
           href="{% url 'apis:apis_relations:generic_relations_list' ent %}">{{ ent|title }}</a>
      {% endfor %}
    </div>
  </li>
{% endblock main-menu %}

{% block userlogin-menu %}
  <ul class="navbar-nav justify-content-end">

    {% if user.is_authenticated %}
      <li class="nav-item dropdown ml-auto">
        <a href=""
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">User: {{ user.get_username }}</a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item">
            <a class="nav-link p-0" href="{% url 'webpage:user_logout' %}">
              <span class="feather-32" data-feather="log-out"></span>
              log out
            </a>
          </div>
        </div>
      </li>
    {% else %}
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link p-0"
           href="{% url 'webpage:user_login' %}?next={{ request.path|urlencode }}">
          <span class="feather-32" data-feather="log-in"></span>
        </a>
      </li>
    {% endif %}

  </ul>
{% endblock userlogin-menu %}

{% block scripts %}
  <script src="{{ SHARED_URL }}fundament/dist/fundament/js/fundament.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="{{ SHARED_URL }}apis/libraries/scroll-to-top/js/ap-scroll-top.min.js"></script>
{% endblock scripts %}
