{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% load browsing_extras %}

{% block title %}
  {% projects_metadata 'title' %}
{% endblock title %}

{% block metaDescription %}
  <meta name="description" content="{{ metadata.description }}">
  <meta name="author" content="{{ metadata.author }}">
{% endblock metaDescription %}

{% block scriptHeader %}
  <!-- Begin Cookie Consent plugin by Silktide - https://silsktide.com/cookieconsent -->
  <script type="text/javascript">
window.cookieconsent_options = {
  "message": "This website uses cookies to ensure you get the best experience on our website",
  "dismiss": "Got it!",
  "learnMore": "More info",
  "link": "{% projects_metadata 'imprint' %}",
  "theme": "dark-bottom"
};
  </script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
  <!-- End Cookie Consent plugin -->
  <!-- Begin Matomo tracking -->
  <script type="text/javascript">
var _paq = _paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
  var u = "{% projects_metadata 'matomo_url' %}";
  _paq.push(['setTrackerUrl', u + 'piwik.php']);
  _paq.push(['setSiteId', '{% projects_metadata "matomo_id" %}']);
  var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
  g.type = 'text/javascript';
  g.async = true;
  g.defer = true;
  g.src = u + 'piwik.js';
  s.parentNode.insertBefore(g, s);
})();
  </script>
  <!-- End Matomo tracking -->
{% endblock scriptHeader %}

{% block customBranding %}
  <a href="/"
     class="navbar-brand custom-logo-link"
     rel="home"
     itemprop="url">
    <img src="{{ PROJECT_LOGO }}"
         class="img-fluid"
         alt="{% projects_metadata 'title' %}"
         itemprop="{% projects_metadata 'title' %}" />
  </a>
{% endblock customBranding %}

{% block nav-class %}
  navbar navbar-expand-lg navbar-light
{% endblock nav-class %}

{% block main-menu %}
  <li class="nav-item dropdown">
    <a href="#"
       class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">About
      <span class="caret" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item"
         href="{% url 'webpage:staticpage' template='imprint' %}">Imprint | Impressum</a>
    </div>
  </li>
  {{ block.super }}
{% endblock main-menu %}

{% block entities-menu-items %}
  {{ block.super }}
  <a class="dropdown-item"
     href="{% url 'webpage:staticpage' template='uri_resolver' %}">URI-Resolver</a>
{% endblock entities-menu-items %}

{% block userlogin-menu %}
  <ul class="navbar-nav justify-content-end">

    {% if user.is_authenticated %}
      <li class="nav-item dropdown ml-auto">
        <a href=""
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">User: {{ user.get_username }}</a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item">
            <a class="nav-link p-0" href="{% url 'webpage:user_logout' %}">
              <span class="material-symbols-outlined">logout</span>
              log out
            </a>
          </div>
        </div>
      </li>
    {% else %}
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link p-0"
           href="{% url 'webpage:user_login' %}?next={{ request.path|urlencode }}">
          <span class="material-symbols-outlined">login</span>
        </a>
      </li>
    {% endif %}

  </ul>
{% endblock userlogin-menu %}

{% block scripts %}
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="{{ SHARED_URL }}apis/libraries/scroll-to-top/js/ap-scroll-top.min.js"></script>
{% endblock scripts %}

{% block imprint %}
  <div id="wrapper-footer-secondary"
       class="footer-imprint-bar p-2 text-center">
    <a href="{% url 'webpage:imprint' %}">Imprint | Impressum</a>
  </div>
{% endblock imprint %}
